.messages-container {
  width: 100%;
  height: 100%;
  padding-bottom: $message-height;

  td {
    vertical-align: bottom;
  }
}

.messages {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding-bottom: 50px;
  padding: 0;
}

.message {
  background: #FFF;
  padding: 15px 10px;

  &.me {
    text-align: right;
  }
}
