$green: #6CC644;
$message-height: 44px;

* {
  margin: 0;
  padding: 0;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, .chat-room {
  height: 100%;
  font-family: "HelveticaNeue", Helvetica, Arial;
}

.hidden {
  position: relative;
  z-index: -1;
}

@import "avatar";
@import "views";
@import "forms";
@import "messages";
